web-indexer
dist
*.zip
*.tar.gz
index.html
!demo/templates/index.html
!demo/templates/demo-content/projects/project-b-skip-index/index.html
_staging
key.gpg
coverage.txt
coverage.html
coverage.xml
checkstyle-report.xml

# Demo files
demo/data
demo/output
demo/.demo-buckets.json
